<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="AspNetStaticFileHandler-GIF" path="*.gif" verb="GET,HEAD" type="Magelia.WebStore.Admin.Web.ColorHandler, Magelia.WebStore.Admin.Web"/>
      <add name="AspNetStaticFileHandler-PNG" path="*.png" verb="GET,HEAD" type="Magelia.WebStore.Admin.Web.ColorHandler, Magelia.WebStore.Admin.Web"/>
      <add name="AspNetStaticFileHandler-JPG" path="*.jpg" verb="GET,HEAD" type="Magelia.WebStore.Admin.Web.ColorHandler, Magelia.WebStore.Admin.Web"/>
      <add name="AspNetStaticFileHandler-CSS" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="AspNetStaticFileHandler-JS" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="AspNetStaticFileHandler-XML" path="*.xml" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
    </handlers>
  </system.webServer>
</configuration>
